.cart-container {
  display: grid;
  justify-items: center;
}

h2 {
  margin-block: 2rem;
}

.list-item {
  display: flex;
  gap: 1rem;
  align-items: center;
}

table {
  border-spacing: 0;
}

th {
  background-color: #333;
  padding-block: 1rem;
  color: white;
}

td {
  min-width: 100px;
  padding-inline: 0.5rem;
  text-align: center;
  border: 1px solid gray;
}

tr:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.02);
}

td img {
  margin-inline: auto;
}

.delete-btn {
  place-self: center;
  aspect-ratio: 1/1;
  width: 40px;
  border-radius: 4px;
  display: grid;
  place-items: center;
  background-color:rgba(255, 0, 0, 0.7);
  color: white;
}

#quantity {
  height: 31px;
  text-align: center;
  font-size: 105%;
}

.update-btn {
  background-color: #333;
  color: white;
  padding: 8px 4px;
}
