<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel= "stylesheet" href="/css/style.css">
    <link rel= "stylesheet" href="/css/index.css">
    <link rel="icon" href="/assets/logo.svg" />
  </head>
  <body>
    <header>
    <nav class="navbar">
      <div class="left">
        <button>Men</button>
        <button>Women</button>
        <button>Kids</button>
        <a href="/vehicles" style="width: fit-content; margin-top: 0;"><button>Vehicles</button></a>
      </div>
      <div class="center">
          <a href="/">
            <img src="/assets/logo.svg" width="50" alt="Brand Logo" />
          </a>
      </div>
      <div class="right">
        <button>Shops</button>
        <a style="width: 50px;" href="/cart"><button style="width: 50px; padding-block: 0; text-align: center; transform: translateY(-10px);"><img src="/assets/cart.png" width="30px" height="30px" /></button></a>
        <button class="account-btn">Account</button>
      </div>
      <div class="account-dropdown hide">
        <% if (!user) { %>
          <ul>
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/auth/signup">Sign Up</a></li>
          </ul>
        <% } else { %>
          <h2 class="text-center">Hello, <%= user.name %> </h2>
          <a href="/my-orders">
            <% if(user.isAdmin) { %>
              Orders
            <% } else { %>
              My Orders
            <% } %>
          </a>

          <% if(user.isAdmin) { %>
            <a href="/admin/products">Admin Panel</a>
          <% } %>
          <% if(user.isAdmin) { %>
            <a href="/vehicles/admin">Vehicles Admin</a>
          <% } %>
          <form action="/auth/logout" method="POST">
            <button class="logout-btn">Logout</button>
          </form>
        <% } %>
      </div>
    </nav>
    </header>
    <main>
      <%- body %> 
    </main>
    <footer class="footer mt-12">
      <div class="footer-container">
        <div>
          <p>FRED PERRY LOYALTY</p>
          <p>
            Exclusive rewards for our most loyal fans. Free Delivery and Free
            Returns
          </p>
        </div>
        <div>
          <p>Follow Us</p>
          <ul>
            <li>Loyalty</li>
            <li>Community</li>
            <li>Careers</li>
            <li>Instagram</li>
            <li>TikTok</li>
            <li>Facebook</li>
            <li>YouTube</li>
            <li>Fred Perry Japan</li>
          </ul>
        </div>
        <div>
          <p>Customer Service</p>
          <ul>
            <li>Help</li>
            <li>Terms & conditions</li>
            <li>Delivery</li>
            <li>Returns</li>
            <li>Shop Finder</li>
          </ul>
        </div>
        <div>
          <article>
            <h3>Stay in the loop</h3>
            <p>
              Join our mailing list to be the first to know about all the things
              Fred Perry
            </p>
          </article>
        </div>
      </div>
    </footer>
    <script src="/js/main.js"></script>
  </body>
</html>
