<div style="height: calc(100vh - (186px + 128px + 96px + 79px + 16px))">
  <h1 class="text-center mt-2">My Orders</h1>
  <p style="text-align: center; color: #999; margin-top: 2rem;">You haven't placed any orders yet.</p>
</div>
